body {

  background-image: url('https://previews.123rf.com/images/benchart/benchart1111/benchart111100426/11248988-Illustration-of-a-summer-sunny-beach-poster-background-horizon-over-water-and-sailboats-Stock-Vector.jpg');

}

#horizon {
  position: relative;
  height: 490px;
  width: 100%;
}

#sun {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}











